form {
    background-color: #3e5c9a;
    height: 100%;
     
    ion-button {
        width: 90%;
        margin: 5%;
    }

    ion-item {
        --border-color: var(--ion-color-primary, #3e5c9a);
        
    }
}

