

<ion-content >
    
    <header>
        <ion-row class="row1">
          <ion-menu-button style="color:#fff"></ion-menu-button>
        </ion-row>
          <ion-row>
           
          
          
            <ion-img src="/assets/images/header.jpeg" class="logo"></ion-img>
        
         
        </ion-row>

    </header>
    
    <div class="box"> 
    <ion-row>
        <ion-col routerLink="/signin">
                    <ion-img src="assets/images/login.svg"></ion-img>
                  
                  <a>Login</a>
                
        </ion-col>
        <ion-col routerLink="/products">
            
                    <ion-img src="assets/images/product.png"></ion-img>
                    <a>Products</a>
                
        </ion-col>
        <ion-col routerLink="/claims">
              
          <ion-img src="assets/images/claim.png"></ion-img>
          <a>Claims</a>
      
</ion-col>
       
      </ion-row>

      <ion-row>
         
          <ion-col routerLink="/contacts">
              
                      <ion-img src="assets/images/phone.png"></ion-img>
                      <a>Contacts</a>
                  
          </ion-col>
          <ion-col routerLink="/help">
            
                    <ion-img src="assets/images/information.svg"></ion-img>
                    <a>Help</a>
               
          </ion-col>
          <ion-col routerLink="/buynow2">
            
            <ion-img src="assets/images/apply.svg"></ion-img>
            <a>Apply now</a>
       
        </ion-col>
         
        </ion-row>
      </div> 
  
  
  
</ion-content>
