<ion-content>
  <header>
                  <ion-menu-button style="color:#fff"></ion-menu-button><br>
                  <ion-img src="/assets/images/header.jpeg"></ion-img>
  </header><br>
  <div class="box">
  <p>Registered benefits</p>
    <p>retrieving all bennefits the client have</p><br>
  <p>Add more benefits</p>
   <ion-list>Cash Payout

      <ion-item>
          <ion-label>
              Members:
             </ion-label>
          <ion-row>
            <ion-col>
                <ion-label>
                    Single
                   </ion-label>
                <ion-checkbox></ion-checkbox>
                
            </ion-col>
            <ion-col>
                <ion-label>
                    Family
                   </ion-label>
                <ion-checkbox></ion-checkbox>
            </ion-col>
          </ion-row>
      </ion-item>
     <ion-item>
       <ion-label>
         R 5000. 00 cover
       </ion-label>
       <ion-checkbox></ion-checkbox>
     </ion-item>
     <ion-item>
      <ion-label>
        R 7000. 00 cover
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        R 8000. 00 cover
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        R 9000. 00 cover
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        R 10000. 00 cover
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        R 15000. 00 cover
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        R 20000. 00 cover
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>
        R 30000. 00 cover
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

   </ion-list>

   
   <ion-list>Beef benefit
      <ion-item>
          <ion-label>
              Members:
             </ion-label>
          <ion-row>
            <ion-col>
                <ion-label>
                    Single
                   </ion-label>
                <ion-checkbox></ion-checkbox>
                
            </ion-col>
            <ion-col>
                <ion-label>
                    Family
                   </ion-label>
                <ion-checkbox></ion-checkbox>
            </ion-col>
          </ion-row>
      </ion-item>

     <ion-item>
       <ion-label>
         Age: 18- 65
       </ion-label>
       <ion-checkbox></ion-checkbox>
     </ion-item>
     <ion-item>
      <ion-label>
        Age: 66- 74
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list>Grocery benefit
    <ion-item>
      <ion-label>
        R 7000.00 Grocery
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
    <ion-item>
     <ion-label>
      R 7000.00 Grocery
     </ion-label>
     <ion-checkbox></ion-checkbox>
   </ion-item>

   
  </ion-list>
  <ion-item>
    <ion-label>
     Catering benefit
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  
  <ion-item>
    <ion-label>
     Global cover
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>
     Burial cover
    </ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

<br>
<div class="pay" >
    Total: <input type="text" name="total"><br><br>
  <a href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=13906796&amp;
    item_name=funeral+cover&amp;item_description=Monthly+cover+fee&amp;amount=5.00">
  <img src="https://www.payfast.co.za/images/buttons/light-small-paynow.png" width="165"
       height="36" alt="Pay" title="Pay Now with PayFast"  /></a>
</div>

<!-- Total: <input type="text" name="total"><br> -->
<!-- <ol>
  <li *ngFor="let duke of dukes">
      {{duke.name}}
  </li>

</ol>    -->
      </div>
      </ion-content>