.ios, .md{

    page-paystack{
    
    .image{
    
    text-align: center;
    
    }
    
    .emailadd {
    
    margin-top:30px;
    
    text-align:center;
    
    }
    
    .amount {
    
    font-size:25px;
    
    color:green;
    
    text-align:center;
    
    font-weight:bold;
    
    }
    
    .pay-button{
    
    padding: 0 10px;
    
    text-align:center;
    
    font-size:6px;
    
    button {
    
    background:green;
    
    }
    
    }
    
    .whatspaystack {
    
    font-size:8px;
    
    text-align:center;
    
    }
    
    ion-icon {
    
    font-size: 15px; //Preferred size here
    
    padding-right:3px;
    
    }
    
    .secured{
    
    text-align:center;
    
    font-size: 12px!important;
    
    padding:10px;
    
    }
    
    ion-item {
    
    border:1px solid #f0f0f0;
    
    }
    
    .input-area {
    
    background-color:#f8f8f8;
    
    padding: 5px 10px 1px 10px;
    
    }
    
    }
    
    }

    header {
      background-color: #3e5c9a;
      background: linear-gradient(#3E5C9A, #3E5C9A);
      background-size: 100% 6%;
      //position: -webkit-sticky;
  position: fixed;
  right: 0;
   
  left: 0;
   z-index: 999;
  }
      .box{

padding-left: 15px;
        margin-top: 40%;
       //margin-right: 15px;
      }
    .pay{
      text-align:center;
    }