
<ion-content>
                <header>
                                <!-- <ion-menu-button style="color:#fff"></ion-menu-button> --><br>
                                <ion-img src="/assets/images/header.jpeg"></ion-img>
                </header>
                <h2>Your children(s) details?</h2>
                <form [formGroup]="buynow" >
                
                      <ion-item>
                         
                        <ion-label position="floating">Name(s)</ion-label>
                        <ion-input type="text" formControlName="name" minlength="3" maxlength="25" required></ion-input>
                      </ion-item>
                          <ion-text color="danger">
                              <p color="danger" style="margin-left: 5%;">{{nameErr}}</p>
                      </ion-text>
              
                      <ion-item>
                        <ion-label position="floating">Surname</ion-label> 
                        <ion-input type="text" formControlName="surname" minlength="3" maxlength="25" required></ion-input>
                      </ion-item>
                          <ion-text color="danger">
                              <p color="danger" style="margin-left: 5%;">{{surnameErr}}</p>
                      </ion-text>

                      <ion-item>
                         
                        <ion-label position="floating">RSA ID Number</ion-label>
                        <ion-input type="text" formControlName="idNum" minlength="13" maxlength="13" required></ion-input>
                      </ion-item>
                      <ion-text color="danger">
                          <p color="danger" style="margin-left: 5%;">{{idnumErr}}</p>
                  </ion-text>
                         <ion-item lines="none">
                                <ion-button class="button button-block button-positive" routerLink="/buynow6" > Back</ion-button>
                                <ion-button class="button button-block button-positive" routerLink="/buynow8" > Next</ion-button>
                         </ion-item>
                                    
                               
                </form>
                
 </ion-content>



<!-- <ion-content>
  <ion-menu-button></ion-menu-button>
 <ion-img src="/assets/images/novasonlogo.jpeg"></ion-img>
 <p>Your childrens details</p>
 <form [formGroup]="buynow">
        
         
         
         <div class="list">
                 
                 
                 <ion-input type="text" placeholder="Name(s)" formControlName="name"></ion-input>
                 <ion-input type="text" placeholder="SurName" formControlName="surname"></ion-input>
                 <ion-input type="text" placeholder="RSA ID Number" formControlName="idNum"></ion-input>
                
                 
                 
                 <ion-row>
                         <ion-col>
                           <ion-button class="button button-block button-positive" href="/buynow6" > Back</ion-button>
                         </ion-col>
                         <ion-col>
                           <ion-button class="button button-block button-positive" href="/buynow8" > Next</ion-button>
                         </ion-col>
                 </ion-row>
                 
         </div>  
                       
 </form>
 

</ion-content> -->
