<ion-content>
        <header>
            <!-- <ion-menu-button style="color:#fff"></ion-menu-button> --><br>
            <ion-img src="/assets/images/header.jpeg"></ion-img>
    </header>
    
    <form class="form1" >
      <br>
      <h4></h4>
      <h4>Beneficiary</h4>
      <h6>beneficiary</h6><br>
      <h4> : <b>R 00.00</b></h4><br>
    </form>
    
    <form class="form2">
    
    <br>
    
    <h3>Add beneficaiary?</h3>
    <input type="checkbox"  >Yes
    <br>
    <input type="checkbox" >No
    
    <ion-item lines="none">
    <ion-button class="buttton button-block button-positive" routerLink="/buynow4" >Back</ion-button>
    
    <ion-button class="buttton button-block button-positive" routerLink="/buynow6">Next</ion-button>
    </ion-item>
    </form>
      
    
    
    
    
    
    
    </ion-content>
    