<ion-content>
  <header>
    <ion-row class="row1">
      <ion-col>
        <ion-menu-button color="light"></ion-menu-button>
      </ion-col>
      <ion-col>
        <ion-img src="/assets/images/header.jpeg" class="logo"></ion-img>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col class="ion-text-center">
        <ion-img  src="/assets/images/Profile/_ionicons_svg_md-contact.svg" class="profPic"></ion-img>
        <ion-text color="light">
          <h5>User Name</h5>
        </ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col class="ion-text-center">
        <ion-text color="light">2 Policies <br> Active</ion-text>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </header>

  <div class="box ion-text-center">
    <ion-row>
      <ion-col routerLink="/policies">
        <ion-img src="assets/images/message.png"></ion-img>
        <a>Policies</a>
      </ion-col>
      <ion-col routerLink="/claims">
        <ion-img src="assets/images/claim.png"></ion-img>
        <a>Claims</a>
      </ion-col>
      <ion-col routerLink="/products">
        <ion-img src="assets/images/product.png"></ion-img>
        <a href="/products">Products</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col routerLink="/contacts">
        <ion-img src="assets/images/phone.png"></ion-img>
        <a>Contacts</a>
      </ion-col>
      <ion-col routerLink="/help">
        <ion-img src="assets/images/information.png"></ion-img>
        <a>Help</a>
      </ion-col>
      <ion-col routerLink="/paystack">
        <ion-img src="assets/images/money.png"></ion-img>
        <a>Payments</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>