<ion-content >
    
  <header>
      <ion-row class="row1">
        <ion-menu-button style="color:#fff"></ion-menu-button>
      </ion-row>
        <ion-row>
         
        
        
          <ion-img src="/assets/images/header.jpeg" class="logo"></ion-img>
      
       
      </ion-row>

  </header>
  <br>
 
  <div class="box"> 
      <ion-row class="title">

          <ion-img class="a" src="assets/images/terms.png" ></ion-img>
           <h2>Terms and Conditions</h2>
  
  </ion-row>

          <ion-list>
            <ul>
              <li> Membership is available to anyone 18 years of age or older.</li>
              <li>You promise NOT to use to conduct any fraudulent or business activity or have more than one Member Account at any time.
                </li>
            </ul>
              <ol>
                  
                      
                      <h5>Family </h5>
                      <li> Family covers up to 7 kids.</li>
                      <li>A member who is not legally married can still enjoy family cover provided that all relevant information is supplied to NOVASON LIFE before the scheme 
                        commences. Traditional marriages / Labola included. Family cover does NOT include Extended Family members [e.g. Parent cover]. Extended Family members 
                        can however be covered separately as individual policies.</li><br>

                      <h5>Children </h5>
                      <li> Unmarried children up to and including age 20,</li>
                      <li>Unmarried children up to and including age 25, who are studying full time at a recognized and registered educational institution, and Physically and/or 
                        mentally disabled children who qualify as dependants and who do not receive a disability grant and who is dependent on their parents will continue to be 
                        covered, irrespective of age. </li> <br>
                        
                     
                              <table>
                                  <tr>
                                    <th>Persons Insured</th>
                                    <th>Cover</th>
                                    <th>Cover</th>
                                    <th>Cover</th>
                                  </tr>
                                  <tr>
                                    <td>Member and Spouse </td>
                                    <td>R5000 </td>
                                    <td>R10000</td>
                                    <td>R15000</td>
                                  </tr>
                                  <tr>
                                    <td>Children 14 – 20/25 </td>
                                    <td>R5000 </td>
                                    <td>R10000</td>
                                    <td>R15000</td>
                                  </tr>
                                  <tr>
                                    <td>Children 6 – 13  </td>
                                    <td>R2500 </td>
                                    <td>R5000 </td>
                                    <td>R7500</td>
                                  </tr>
                                  <tr>
                                    <td>Children under 6 [including 
                                        stillborns] 
                                         </td>
                                    <td>R1250 </td>
                                    <td>R2500 </td>
                                    <td>R3750</td>
                                  </tr>
                                  
                                </table>
                     
                    <h5>Premiums </h5>
                    <li>Premiums are payable monthly in advance on or before the 7th of each month, but no later than the 8th of each month, if not paid on time and a member 
                        dies, the plan will not pay out, so make sure your account is up to date. </li> <br>
                    <h5>Waiting Period </h5>
                    <li>Natural Causes  a Six [6] calendar month waiting period applies  </li>
                    <li>Unnatural Causes  a one [1] calendar month waiting period applies </li> 
                    <li>Suicide / attempted suicide  a twenty four [24] calendar month waiting period applies from the new entry date, only applicable on the main member of 
                        the policy. </li>
                    <li>Children under 14 years a one [1] calendar month waiting period applies </li>
                    <li>Members between the age of 86 - 90+ years a twelve [12] calendar month waiting period applies.</li>
              
                    <h5>Membership </h5>
                    <li> A member with an existing policy elsewhere can transfer to this group scheme with Immediate Cover on </li>
                      <ol><li> The policy is underwritten by a registered insurance company, there is no break in cover and the member can produce a funeral book with the last 6 months receipts and the member’s age at transfer stage will determine in what category he/she will be registered and what premium he/she will be required to pay.  </li></ol>
                    <li>The entry date for all members will be the 1st of the month following the receipt of the 1st premium</li> 
                    <li>The age of the main member at inception of the scheme will determine in what category the member falls and the relevant premium will apply to that member.</li>
                    <li>Members will not receive old entry dates, unless specifically approved by NOVASON LIFE.  </li>
                    <li>The minimum and maximum entry age is 18 up to and including 90 years. </li>
                    <li>The elder of the two members will be regarded as the main member irrespective who pays the monthly premium.</li><br>

                    <h5>Claims </h5>
                    <li> Claims for common-law spouses who have not been declared at inception / on the application form, will not be considered for payment. </li>
                    <li>Claims for grandchildren / foster children will not be considered, unless proof of legal adoption has been supplied. </li> 
                    <li>Claims will not be considered for payment where the relevant waiting period has not elapsed</li>
                    <li>Claims will not be considered for payment if false information has been supplied on an application form.  </li>
                    <li>NOVASON LIFE undertakes to pay all valid claims within 6 hours of receipt of all relevant claim documents. Where claim documentation is outstanding, this will 
                        cause a delay in the payment of claims. </li>
                    <li>No claims will be considered if premiums are in arrears or short paid, and under no circumstances may claims be used to offset outstanding premiums</li>
              </ol>  
          </ion-list>
          <ion-row>
              <ion-segment class="round">
                      
                          <ion-segment-button routerLink="/buynow2">
                              <ion-img class="a" src="assets/images/shopping-cart.png"></ion-img>
                                 <a>Buy now</a>
                                </ion-segment-button>
                      
                  
                  <ion-segment-button routerLink="/contacts">
                          
                                 
                              <ion-img class="a" src="assets/images/call.svg"></ion-img>
                              <a>Contact</a>
                                  
                         
                  </ion-segment-button>
                  <ion-segment-button routerLink="/landing">
                      <ion-img class="a" src="assets/images/home.svg"></ion-img>
                      
                  <a>Home</a>
                  </ion-segment-button>
             </ion-segment>
                 
          
          </ion-row>  
  </div> 



</ion-content>


