

<ion-content >
    
    <header>
        <ion-row class="row1">
          <ion-menu-button style="color:#fff"></ion-menu-button>
        </ion-row>
          <ion-row>
           
          
          
            <ion-img src="/assets/images/header.jpeg" class="logo"></ion-img>
        
         
        </ion-row>

    </header>
    <br>
   
    <div class="box"> 
            <ion-row class="title">

                    <ion-img class="a" src="assets/images/buffet.png" ></ion-img>&nbsp;&nbsp;
                     <h2>Catering</h2>
            
            </ion-row>
        <h4 class="insurance-title">Catering funeral plan</h4>
          
        <p>This is a service that allows our clients to relax instant of doing the catering themselves or having the community or extended family helping them to cook meals. Our team of qualified professional chefs come and do catering, we bring you R 7000 groceries and bring catering equipment such as mobile kitchen, cooler, warmers, cutlery and serving dishes, mobile toilet and many more catering benefits...</p>
        
        <ion-list>
            <ol>
                    <h4> Main Member & Spouse</h4>
          
                    <h5>From as Little as R 300/Month</h5>
          
                    <li>Catering by Professional Chefs</li>
                    <li>R 7 000 Grocery</li>
                    <li>Mobile Kitchen</li>
                    <li>Mobile Cooler</li>
                    <li>Mobile Toilet</li>
                    <li>Serving Dishes and Cutlery</li>
                    <li> Warmer Chafing Dish</li>
                </ol> 
    </ion-list>

    <ion-row>
            <ion-segment class="round">
                    
                        <ion-segment-button routerLink="/buynow2">
                            <ion-img class="a" src="assets/images/shopping-cart.png"></ion-img>
                               <a>Buy now</a>
                              </ion-segment-button>
                    
                
                <ion-segment-button routerLink="/contacts">
                        
                               
                            <ion-img class="a" src="assets/images/call.svg"></ion-img>
                            <a>Contact</a>
                                
                       
                </ion-segment-button>
                <ion-segment-button routerLink="/terms">
                    <ion-img class="a" src="assets/images/terms.png"></ion-img>
                    
                <a>Terms</a>
                </ion-segment-button>
           </ion-segment>
               
        
        </ion-row>  
    </div> 
  
  
  
</ion-content>

