<ion-content>
  <form [formGroup]="user" (submit)="signUp()">
    <ion-img src="/assets/images/novasonlogo.jpeg"></ion-img>
    <ion-card class="ion-margin-start ion-margin-end">
      <ion-card-content style="background-color: #fff">

        <h2>Register</h2>

        <ion-item>
          <ion-label position="floating">Email address</ion-label>
          <ion-input type="tel" formControlName="idNum" minlength="13" maxlength="13" required></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p color="danger" style="margin-left: 5%;">{{idErr}}</p>
        </ion-text>

        <ion-item>
          <ion-label position="floating">Mobile</ion-label>
          <ion-input type="tel" formControlName="mobile" minlength="10" maxlength="12" required></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p color="danger" style="margin-left: 5%;">{{numbErr}}</p>
        </ion-text>

        <ion-item>
          <ion-label position="floating">Pin</ion-label>
          <ion-input type="password" formControlName="pin" minlength="5" maxlength="5" required></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p color="danger" style="margin-left: 5%;">{{pinErr}}</p>
        </ion-text>

        <ion-item>
          <ion-label position="floating">Retype Pin</ion-label>
          <ion-input type="password" formControlName="rePin" minlength="5" maxlength="5" required></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p color="danger" style="margin-left: 5%;">{{rePinErr}}</p>
        </ion-text>
        <br>
      </ion-card-content>
    </ion-card>

    <br />
    <div class="ion-text-center">
      <ion-checkbox class="ion-margin-start" color="light" value="true" formControlName="terms"></ion-checkbox>
      Read this before you procceed
    </div>
    <br />
    <ion-button type="submit" color="light" [disabled]="!checkedbtn">Register</ion-button>

    <ion-text style="margin-left: 5%;">
      Already have an account? <ion-text color="success" routerLink="/signin">Log in</ion-text>
    </ion-text>
  </form>
</ion-content>