<!-- 


<ion-content >
    
        <header>
            <ion-row class="row1">
              <ion-menu-button style="color:#fff"></ion-menu-button>
            </ion-row>
              <ion-row>
               
              
              
                <ion-img src="/assets/images/header.jpeg" class="logo"></ion-img>
            
             
            </ion-row>
    
        </header>
        <br>
        <ion-row class="title">
    
                <ion-img class="a" src="assets/images/buffet.png" ></ion-img>&nbsp;&nbsp;
                 <h2>Grocery</h2>
        
        </ion-row>
        <div class="box"> 
                <ion-list>
                        <ol>
                                <h4><u> Main Member & Spouse</u></h4>
                      
                                <h5>From as Little as R 300/Month</h5>
                      
                                <li>Catering by Professional Chefs</li>
                                <li>R 7 000 Grocery</li>
                                <li>Mobile Kitchen</li>
                                <li>Mobile Cooler</li>
                                <li>Mobile Toilet</li>
                                <li>Serving Dishes and Cutlery</li>
                                <li> Warmer Chafing Dish</li>
                            </ol> 
                </ion-list>
                <ion-row>
                                <ion-col></ion-col>
                                <ion-col routerLink="/buynow2">
                                        <ion-card-content class="round text-center" >
                                            <ion-img class="a" src="assets/images/shopping-cart.png"></ion-img>
                                            
                                    </ion-card-content>
                                    <a>Buy</a>
                                </ion-col>
                
                                <ion-col routerLink="/contacts">
                                        <ion-card-content class="round text-center" >
                                            <ion-img class="a" src="assets/images/call.svg"></ion-img>
                                        
                                        </ion-card-content>
                                        <a>Call</a>
                                </ion-col>
                                <ion-col routerLink="/terms">
                                        <ion-card-content class="round text-center" >
                                        <ion-img class="a" src="assets/images/terms.png"></ion-img>
                                            
                                    </ion-card-content>
                                    <a>Terms</a>
                                </ion-col>
                
                                <ion-col></ion-col>
                                   
                            </ion-row>
        </div> 
      
      
      
    </ion-content>
    
    
    
  -->