

<ion-content >
    
                <header>
                    <ion-row class="row1">
                      <ion-menu-button style="color:#fff"></ion-menu-button>
                    </ion-row>
                      <ion-row>
                       
                      
                      
                        <ion-img src="/assets/images/header.jpeg" class="logo"></ion-img>
                    
                     
                    </ion-row>
            
                </header>
                <br>
                <ion-row class="title">
            
                        <!-- <ion-img class="a" src="assets/images/information.png" ></ion-img>&nbsp;&nbsp;
                         <h2>Help center</h2> -->
                
                </ion-row>
                <div class="box"> 
                                <h2>You can get us on:</h2>
                                <br>
                        <a href="tel:0127715633"> 
                                <ion-row class="title">
                                         <ion-img class="a" src="assets/images/phone.png" ></ion-img>&nbsp;&nbsp;
                                        <p>012 771 5633</p>
                                 </ion-row>
                        </a>
                        <a href="mailto:info@novason.co.za">  
                                                <ion-row class="title">
                            <ion-img class="a" src="assets/images/email.svg" ></ion-img>&nbsp;&nbsp;
                             <p>info@novason.co.za </p>
                             </ion-row>
                        </a>
                        <a>  
                            <ion-row class="title">
                            <ion-img class="a" src="assets/images/sms.svg" ></ion-img>&nbsp;&nbsp;
                            <p>SMS LIFE TO 33903 </p>
                            </ion-row>
                        </a>
                    
                    <ion-row class="title">
                
                             
                              
                              <ion-img class="a" src="assets/images/location.svg" ></ion-img>
                              <address>
                                
                                2nd Floor<br>The Innovation Factory<br> 
                                Cnr Allan Cormack &<br>Mark Shuttleworth<br>
                                The Innovation Hub<br>
                                Lynnwood <br>Pretoria East 0087<br>
                                SOuth Africa
                                </address>
                    
                    </ion-row>
                </div> 
              
              
              
            </ion-content>
            
            
            
<!-- 

                <h2>You can get us on:</h2>
                <br>
        <a href="tel:0127715633"> 
                <ion-row class="title">
                         <ion-img class="a" src="assets/images/phone.png" ></ion-img>&nbsp;&nbsp;
                        <p>012 771 5633</p>
                 </ion-row>
        </a>
        <a href="mailto:info@novason.co.za">  
                                <ion-row class="title">
            <ion-img class="a" src="assets/images/email.svg" href="/home"></ion-img>&nbsp;&nbsp;
             <p>info@novason.co.za </p>
             </ion-row>
        </a>
    
    <ion-row class="title">

             
              
              <ion-img class="a" src="assets/images/location.svg" ></ion-img>
              <address>
                
                2nd Floor<br>TheInnovation Factory<br> 
                Cnr Allan Cormack &<br>Mark Shuttleworth<br>
                The Innovation Hub<br>
                Lynnwood <br>Pretoria East 0087<br>
                SOuth Africa
                </address>
    
    </ion-row>
               
 </ion-content> -->
