

header {
    background-color: #3e5c9a;
    background: linear-gradient(#3E5C9A, #3E5C9A);
    background-size: 100% 6%;
   
}
h2{
    color:#3E5C9A;
    text-align: center;
}

ion-list{
    display:list-item;
}
.a{ width: 40px;
    text-decoration:none;
     color: #3e5c9a;
     padding-left: 5%;
}

address{
    text-decoration:none;
    color: #3e5c9a;
    font-style: normal;
    padding-left: 5%;
}
p{
    color: #3e5c9a;
   padding-left: 5%;
}



