

<ion-content >
    
        <header>
            <ion-row class="row1">
              <ion-menu-button style="color:#fff"></ion-menu-button>
            </ion-row>
              <ion-row>
               
              
              
                <ion-img src="/assets/images/header.jpeg" class="logo"></ion-img>
            
             
            </ion-row>
    
        </header>
        <br>
        
        <div class="box"> 
                <ion-row class="title">
    
                        <ion-img class="a" src="assets/images/global.svg" ></ion-img>&nbsp;&nbsp;
                         <h2>Global Cover</h2>
                
                </ion-row>
                <ion-list>
                        <ol>
                                <h4>Requirements:</h4>
                      
                                <li>Valid passport.</li>
                                <li>Valid working permit or visa documents.</li>
                                <li>Valid South African bank account.</li>
                                <li>Coppy of marriage certificate should they be married to South African citizen</li>
                                
                            </ol> 

                     
                </ion-list>
                <ion-row>
                        <ion-segment class="round">
                                
                                    <ion-segment-button routerLink="/buynow2">
                                        <ion-img class="a" src="assets/images/shopping-cart.png"></ion-img>
                                           <a>Buy now</a>
                                          </ion-segment-button>
                                
                            
                            <ion-segment-button routerLink="/contacts">
                                    
                                           
                                        <ion-img class="a" src="assets/images/call.svg"></ion-img>
                                        <a>Contact</a>
                                            
                                   
                            </ion-segment-button>
                            <ion-segment-button routerLink="/terms">
                                <ion-img class="a" src="assets/images/terms.png"></ion-img>
                                
                            <a>Terms</a>
                            </ion-segment-button>
                       </ion-segment>
                           
                    
                    </ion-row>  
        </div> 
      
      
      
    </ion-content>
    
    