
<ion-content>
      <header>
                      <!-- <ion-menu-button style="color:#fff"></ion-menu-button> --><br>
                      <ion-img src="/assets/images/header.jpeg"></ion-img>
      </header>
      <h2>where do we send your policy documents?</h2>
      <form [formGroup]="buynow" >
      
              
            <ion-item>
               
              <ion-label position="floating">Postal address</ion-label>
              <ion-input type="text" formControlName="address" minlength="13" maxlength="13" required></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Suburb</ion-label> 
              <ion-input type="text" formControlName="suburb"  minlength="5" maxlength="5" required></ion-input>
            </ion-item>

            <ion-item>
               
              <ion-label position="floating">Town/ city</ion-label>
              <ion-input type="text" formControlName="town" minlength="13" maxlength="13" required></ion-input>
            </ion-item>
            
              <ion-item>
                      <ion-label position="floating">Postal code</ion-label> 
                      <ion-input type="tel" formControlName="code"  minlength="13" maxlength="13" required></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Email address</ion-label> 
                  <ion-input type="text" formControlName="email"  minlength="13" maxlength="13" required></ion-input>
          </ion-item>
             

                    
               <ion-item lines="none">
                      <ion-button class="button button-block button-positive" routerLink="/buynow2" > Back</ion-button>
                      <ion-button class="button button-block button-positive" routerLink="/buynow4" > Next</ion-button>
               </ion-item>
                          
                     
      </form>
      
</ion-content>



